{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h2>Регистрация</h2>
<form method="POST">
  {{ form.hidden_tag() }}

  {{ form.name(class="form-control mb-2", placeholder="Имя") }}
  {% for error in form.name.errors %}
    <div class="text-danger small">{{ error }}</div>
  {% endfor %}

  {{ form.email(class="form-control mb-2", placeholder="Email") }}
  {% for error in form.email.errors %}
    <div class="text-danger small">{{ error }}</div>
  {% endfor %}

  {{ form.password(class="form-control mb-2", placeholder="Пароль") }}
  {% for error in form.password.errors %}
    <div class="text-danger small">{{ error }}</div>
  {% endfor %}

  {{ form.submit(class="btn btn-success") }}
</form>
<a href="{{ url_for('web.login') }}">Уже есть аккаунт?</a>
{% endblock %}
